# --- Секреты и конфиги ---
*.env
appsettings.json
appsettings.Development.json

# --- Системные ---
.DS_Store
Thumbs.db

# --- IDE/VS Rider ---
.vs/
.idea/
.vscode/
*.user
*.suo
*.sln.docstates
*.DotSettings.user

# --- Build ---
bin/
obj/

# --- Временные файлы ---
*.http

# --- Анализаторы ---
qodana.yaml
