# Сборочные артефакты
bin/
obj/
[Bb]uild/
[Ll]og/
[Tt]emp/
*.cache
*.nuget.info

# Rider / JetBrains
.idea/
*.sln.iml
*.userprefs

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Конфиги окружения
*.env
appsettings.Development.json

# Системные
.DS_Store
Thumbs.db

.DS_Store
Learning_Management_System.sln
qodana.yaml
Learning_Management_System.sln.DotSettings.user
